In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
data=pd.read_csv('Employee_Salary_Dataset.csv')
data.head()

   ID  Experience_Years  Age  Salary
0   1                 5   28  250000
1   2                 1   21   50000
2   3                 3   23  170000
3   4                 2   22   25000
4   5                 1   17   10000

In [4]:
data.isnull().sum()

ID                  0
Experience_Years    0
Age                 0
Salary              0
dtype: int64

In [10]:
X=data['Experience_Years']
y=data['Salary']

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=40)
print(X_train.shape,X_test.shape)

((28,), (7,))

In [11]:
def linear(X,y):
    n=np.size(X)
    X_mean=np.mean(X)
    y_mean=np.mean(y)
    
    xy=np.sum(y*X)-(n*y_mean*X_mean)
    xx=np.sum(X*X)-(n*X_mean*X_mean)
    
    slope=xy/xx
    intercept=y_mean-slope*X_mean
    return slope, intercept

linear(X_train,y_train)

(270776.128955405, -368811.5776136541)

In [12]:
slope, intercept=linear(X_train,y_train)
y_pred=slope*X_test+intercept
print(y_pred)

2     4.435168e+05
13    2.609726e+06
21    7.142929e+05
31    3.692830e+06
29    1.727407e+05
33    4.775935e+06
25    4.435168e+05
Name: Experience_Years, dtype: float64

In [15]:
from sklearn.metrics import r2_score, mean_squared_error

print(r2_score(y_test,y_pred))
print(mean_squared_error(y_test,y_pred))

0.512170014551073
4962064306006.302