In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv('winemag-data-130k-v2.csv')
data.head(5)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [5]:
data[['points','price']].mean()
data[['points','price']].median()
data[['points','price']].mode()

   points  price
0      88   20.0

In [17]:
min_price=data['price'].min()
print(min_price)

max_price=data['price'].max()
print(max_price)

pr_range=max_price-min_price
print(pr_range)

4.0
3300.0
3296.0

In [18]:
min_point=data['points'].min()
print(min_point)

max_point=data['points'].max()
print(max_point)

range_points=max_point-min_point
print(range_points)

80
100
20

In [9]:
data[['points','price']].std()

points     3.039730
price     41.022218
dtype: float64

In [10]:
data[['points','price']].var()

points       9.239960
price     1682.822342
dtype: float64

In [25]:
from scipy.stats import kurtosis
from scipy.stats import skew
from scipy.stats import zscore
from scipy.stats import iqr

print(kurtosis(data['points'],fisher=False))
print(kurtosis(data['points'],fisher=True))

2.70400203199
-0.295997968011

In [20]:
print(skew(data['points']))
print(skew(data['price']))

0.0459202224806
nan

In [27]:
print(zscore(data['points']))

[-0.47607639 -0.47607639 -0.47607639 ...  0.5108571   0.5108571
  0.5108571 ]

In [28]:
print(iqr(data['points']))

5.0