In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
data=pd.read_csv('house_prices_sample.csv')
data.head()

   area  bedrooms  house_age  price
0  2800       3.0         19  75000
1  2000       3.0         22  55000
2  3000       NaN         24  80000
3  2600       2.0         19  65000
4  1800       NaN         22  45000

In [8]:
median_bedrooms=data.bedrooms.median()
print('Median value',median_bedrooms)

('Median value', 3.0)

In [7]:
data.bedrooms=data.bedrooms.fillna(median_bedrooms)
data.head()

   area  bedrooms  house_age  price
0  2800       3.0         19  75000
1  2000       3.0         22  55000
2  3000       3.0         24  80000
3  2600       2.0         19  65000
4  1800       3.0         22  45000

In [9]:
lr=linear_model.LinearRegression()
lr.fit(data[['area','bedrooms','house_age']],data.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [11]:
print('Coefficients',lr.coef_)
print('Intercept',lr.intercept_)

('Coefficients', array([   128.4660974 , -10071.31123054,  -7734.265414  ]))
('Intercept', -74369.68499678596)

In [12]:
lr.predict([[2500,4,20]])

array([51825.005297])