In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_regression

In [5]:
X,y=make_regression(n_samples=1000,n_features=10,random_state=0)
print(X.shape, y.shape)

((1000, 10), (1000,))

In [6]:
data=pd.DataFrame(X,columns=['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10'])
data['y']=y

data.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,y
0,1.609045,0.527680,1.649248,-0.491485,-1.098417,1.065133,0.689721,-0.222621,-0.002557,0.143017,224.767643
1,0.018815,-0.996044,1.703775,-1.258197,1.181981,1.510628,0.458706,0.182014,-1.159540,-1.213214,-7.743626
2,1.335316,-1.881484,-0.680807,1.189978,0.388992,1.084748,-0.762039,0.198327,0.424903,-0.413275,-31.192920
3,-0.384880,-0.286887,-1.126826,-0.107305,-0.133702,-0.730678,1.077744,-0.061626,-0.042171,0.094352,-96.963951
4,-0.098453,-1.079932,-0.744755,-0.437820,-0.068242,-0.826439,1.713343,-1.147469,1.126636,-0.663478,-76.339347

In [8]:
print("Popn mean",y.mean())
print("Popn variance",y.var())

('Popn mean', -9.558793874466565)
('Popn variance', 19112.552887236314)

In [10]:
sample_size=500
sample=data.sample(n=sample_size,random_state=1)

print("Sample mean",sample['y'].mean())
print("Sample variance",sample['y'].var())

('Sample mean', -11.063578241952525)
('Sample variance', 19031.31592000269)

# Margin of Error

In [11]:
from sklearn.utils import shuffle

data_url='http://lib.stat.cmu.edu/datasets/boston'
raw=pd.read_csv(data_url,sep='\s+',skiprows=22,header=None)
data=np.hstack([raw.values[::2,:],raw.values[1::2,:2]])
target=raw.values[1::2,2]
features=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT']

In [12]:
datas=pd.DataFrame(data,columns=features)
datas['target']=target
datas=shuffle(datas)
datas.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
373,11.10810,0.0,18.10,0.0,0.668,4.906,100.0,1.1742,24.0,666.0,20.2,396.90,34.77,13.8
261,0.53412,20.0,3.97,0.0,0.647,7.520,89.4,2.1398,5.0,264.0,13.0,388.37,7.26,43.1
53,0.04981,21.0,5.64,0.0,0.439,5.998,21.4,6.8147,4.0,243.0,16.8,396.90,8.43,23.4
28,0.77299,0.0,8.14,0.0,0.538,6.495,94.4,4.4547,4.0,307.0,21.0,387.94,12.80,18.4
183,0.10008,0.0,2.46,0.0,0.488,6.563,95.6,2.8470,3.0,193.0,17.8,396.90,5.68,32.5

In [14]:
sample_size=100
sample=datas.sample(n=sample_size,random_state=1)

sample_mean=sample['target'].mean()

In [16]:
from scipy import stats
from math import sqrt

z_critical=stats.norm.ppf(q=0.975)
sample_std=sample['target'].std()
margin_of_error=z_critical*(sample_std/sqrt(sample_size))
confidence_interval=(sample_mean-margin_of_error,sample_mean+margin_of_error)

print('Z-crtitcal value',z_critical)
print('Margin of error',margin_of_error)
print('Confidence interval',confidence_interval)

('Z-crtitcal value', 1.959963984540054)
('Margin of error', 1.8239465299042659)
('Confidence interval', (21.236053470095733, 24.883946529904264))