In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv('crimes_against_women_2001-2014.csv')
data.head()

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0

In [4]:
data['Year'].unique()
data['DISTRICT'].unique()

array(['ADILABAD', 'ANANTAPUR', 'CHITTOOR', ..., 'Lakshadweep',
       'Karaikal', 'Puducherry'], dtype=object)

In [14]:
data=data.loc[data['Year'].isin([2013,2014])]
data=data.loc[data['STATE/UT']=='Delhi UT']
data.shape

(0, 11)

In [19]:
sns.catplot(x='STATE/UT',kind='count',height=11,aspect=1.0,order=data['STATE/UT'].unique(),data=data)
plt.show()

ValueError: min() arg is an empty sequence